:root {
  --buttercup: #F1C40F;
  --codgray: #1c1c1c;
  --royalpurple: #6634a7;
  --sepiablack: #320404;
  --silver: #ccc;
  --tuna: #333439;
  --white: #ffffff;
  --wildsand: #F6F6F6;
  --zumthor: #ECF4FF;
  --gallery: #F0F0F0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

body {
  background: linear-gradient(
    236.85deg,
    var(--codgray) 27.26%,
    var(--royalpurple) 96.03%
  );
  font-family: "Roboto", sans-serif;
  padding: 1px;
}

.container {
  background: var(--white);
  border-radius: 20px;
  box-shadow: 0px 4px 4px var(--codgray);
  color: var(--codgray);
  display: flex;
  margin: 24px;
  padding: 28px;
}

.container__profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  text-align: center;
}

.profile__switch {
  display: inline-block;
  height: 25px;
  margin-top: 138px;
  position: relative;
  width: 60px;
}

.switch__input {
  height: 0;
  opacity: 0;
  width: 0;
}

.switch__slider {
  -webkit-transition: 0.4s;
  background-color: var(--silver);
  border-radius: 34px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.switch__slider:before {
  -webkit-transition: 0.4s;
  background-color: var(--white);
  border-radius: 50%;
  bottom: 3px;
  content: "";
  height: 20px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 20px;
}

.switch__input:checked + .switch__slider {
  background-color: var(--royalpurple);
}

.switch__input:focus + .switch__slider {
  box-shadow: 0 0 2px var(--royalpurple);
}

.switch__input:checked + .switch__slider:before {
  -ms-transform: translateX(32px);
  -webkit-transform: translateX(32px);
  transform: translateX(32px);
}

.fa-moon {
  color: var(--buttercup);
  margin: 5px 10px 0 0;
}

.fa-sun {
  color: var(--buttercup);
  margin: 5px 0 0 0;
}

.profile__photo {
  border-radius: 50%;
  box-shadow: 0px 4px 4px var(--codgray);
  margin-top: 60px;
  max-width: 120px;
}

.tittle__name {
  font-size: 23px;
  font-weight: 700;
}

.tittle__job {
  font-size: 18px;
  font-weight: normal;
}

.container__portfolio {
  width: 1500px;
}

.portfolio__projects {
  background: linear-gradient(
    230.65deg, 
    #3204041f 27.49%, 
    var(--royalpurple) 83.19%);
  border-radius: 20px;
  box-shadow: 0px 4px 4px var(--codgray);
  max-height: 1000px;
  overflow-y: scroll;
  padding: 36px;
  scrollbar-width: thin;
}

.projects__box {
  font-size: 20px;
  line-height: 2em;
  list-style-type: none;
}

.box__name {
  text-align-last: center;
}

.dark {
  background: linear-gradient(
    230.65deg, 
    var(--sepiablack) 27.49%, 
    var(--royalpurple) 83.19%);
}

.dark .container {
  background: var(--tuna);
  color: var(--wildsand);
}

.dark .container__portfolio {
  color: var(--codgray);
}

.dark .box__name a {
  color: var(--wildsand);
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--codgray);
  border-radius: 100px;
  border: 1.8px solid var(--codgray);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--zumthor);
}

::-webkit-scrollbar-track {
  background: var(--zumthor);
  border-radius: 100px;
  box-shadow: inset 0px 0px 0px 0px var(--gallery);
  margin: 15px 0px;
}

@media only screen and (max-width: 1100px) {
  .container {
    flex-direction: column;
    margin: 1px;
    padding: 7px;
  }

  .container__profile {
    margin-right: 0;
  }

  .profile__switch {
    margin-top: 13px;
  }

  .profile__photo {
    margin-top: 30px;
  }

  .container__portfolio {
    width: 99%;
  }

  .portfolio__projects {
    padding: 1px;
  }
}
